#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: white;
  @include centered;

  img {
    width: 100px;
  }

  .bar {
    width: 100px;
    height: 2px;
    background-color: #d6cec2;
    border-radius: 10px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      width: 60%;
      height: 2px;
      position: absolute;
      background-color: #0074b4;
      transform: translateX(-20px);
      animation: loop 2s ease infinite;
    }
  }
}